body{
    font-family:Arial !important;
}
h1, h2, h3, h4, h5, a, p {
    font-family: Arial !important;
}
.title-collection {
    padding-left:15px;
}
.btn-prev {
    font-size: 34px;
    margin-top: 133px;
    padding-top: 14px;
    background-color: #e89c3b;
    height: 19%;
    width: 85%;
}
.btn-next {
    font-size: 34px;
    margin-top: 133px;
    padding-top: 14px;
    background-color: #e89c3b;
    height: 19%;
    width: 85%;
}
.panel-body{
    background-color:white
}
.product-home-collection {
    background-color: white
}
    .product-home-collection img {
        height: 232px;
        min-height: 232px;
        max-height: 232px;
    }
.title-collection {
    font-size: 19px; 
    padding: 15px 0px 0px 15px;
} 