@{
    ViewBag.Title = "Product Detail";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<style>
    #body-content-right {
        text-align: center;
    }

        #body-content-right img {
            max-height: 210px;
            width: 67%;
        }
    #PsanPhamLienQuan img {
        height: 232px
    }
</style>
<div class="row">
    <div class="col-md-9" id="content-left">
        <div class="panel-body">
            a
        </div>
        <br />
        @Html.Action("PartialSanPhamLienQuan", "Product", new {number = 4 })
    </div>
    <div class="col-md-3" id="content-right">
        <div class="panel-body" id="body-content-right">
            <div class="panel-info">
                <img src="https://images.unsplash.com/photo-1539840093138-9b3e230e5206?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=765a2eb222b1851840a4a157780fb487&auto=format&fit=crop&w=1534&q=80" class="img-responsive center-block" />
                <h5>Thập cẩm sấy, dòng phổ thông </h5>
                <h5>75.500 VND </h5>
            </div>
            <div class="panel-info">
                <img src="https://images.unsplash.com/photo-1539840093138-9b3e230e5206?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=765a2eb222b1851840a4a157780fb487&auto=format&fit=crop&w=1534&q=80" class="img-responsive center-block" />
                <h5>Thập cẩm sấy, dòng phổ thông </h5>
                <h5>75.500 VND </h5>
            </div>
            <div class="panel-info">
                <img src="https://images.unsplash.com/photo-1539840093138-9b3e230e5206?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=765a2eb222b1851840a4a157780fb487&auto=format&fit=crop&w=1534&q=80" class="img-responsive center-block" />
                <h5>Thập cẩm sấy, dòng phổ thông </h5>
                <h5>75.500 VND </h5>
            </div>
            <div class="panel-info">
                <img src="https://images.unsplash.com/photo-1539840093138-9b3e230e5206?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=765a2eb222b1851840a4a157780fb487&auto=format&fit=crop&w=1534&q=80" class="img-responsive center-block" />
                <h5>Thập cẩm sấy, dòng phổ thông </h5>
                <h5>75.500 VND </h5>
            </div>
            <div class="panel-info">
                <img src="https://images.unsplash.com/photo-1539840093138-9b3e230e5206?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=765a2eb222b1851840a4a157780fb487&auto=format&fit=crop&w=1534&q=80" class="img-responsive center-block" />
                <h5>Thập cẩm sấy, dòng phổ thông </h5>
                <h5>75.500 VND </h5>
            </div>
        </div>
    </div>
</div>
<br> 
