@model IEnumerable<Ai_Accessories.Website.Models.Giohang>
@{
    ViewBag.Title = "Hoàn Tất";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<h2 style="text-align:center">Thanh toán thành công. Cảm ơn @ViewBag.UserName đã đặt hàng tại cửa hàng của chúng tôi. Bạn sẽ nhận được sản phẩm trong 1 đến 2 ngày sau. </h2>  